*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
.head{
    width: 100%;
    height: 100vh;
    background-color: #1b1b1b;
}
body{
    cursor: default;
}
.wrapper{
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    background-color: #1b1b1b;
}
.logo a{
    margin-left: 1rem;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    box-shadow: 0 0 50px 50px #9d4edd;
    background-color: #9d4edd;
}
.navbar {
    display: flex;
    font-size: 1rem;
    font-weight: 600;
    align-items: center;
    margin-right: 1rem;
}
.navbar ul{
    display: flex;
    margin-right: 8rem;
}
.navbar ul li{
    margin-right: 8rem;
}
.navbar ul li a{
    color: #fff;
}
.navbar button{
    margin-right: 5.5rem;
    border: 1px solid #fff;
    border-radius: 10px;
    width: 8rem;
    height: 2.5rem;
    background-color: #1b1b1b;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}
.main{
    width: 100%;
    padding-top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-info{
    margin-right: 10rem;
    color: #fff;
}
.main-info h3{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0 1rem 3rem 1rem;
}
.main-info h1{
    font-size: 5rem;
    font-weight: 800;
    margin-bottom: 2rem;
    margin-right: 5rem;
}
.main-info p{
    line-height: 1.5;
    font-size: 1.5rem;
    padding-top: 1rem;
    margin-bottom: 5rem;
}
.main-info button{
    margin-left: 1rem;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 1px #9d4edd;
    width: 10rem;
    height: 2.7rem;
    background-color: #9d4edd;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}
.img img{
    width: 50rem;
    height: 50rem;
}
.grid-info{
    align-items: center;
    justify-content: center;
    background-color: #f8f7f7;
    width: 100%;
    height: 100vh;
    padding: 12rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2,1fr);
}
.info-box{
    background-color: #fff;
    border-left: #9d4edd 1.5rem solid;
    border-radius: 20px;
    padding: 30px;
    width: 80%;
    height: 300px;
}
.info-box a{
    font-size: 2rem;
    font-weight: 700;
    padding: 10px;
}
.info-box p{
    line-height: 1.5;
    align-items: center;
    font-size: 1.5rem;
    margin-top: 15px;
    padding: 10px;
}
.story-box{
    background-color: #eeeeee;
    padding: 13rem;
    display: flex;
    height: 100vh;
}
.img-story img{
    border-radius: 25px;
    box-shadow: -30px -30px 0 5px #9d4edd;
}
.info-story{
    margin-left: 5rem;
    padding: 35px;
}
.info-story h3{
    color: #9d4edd;
    font-size: 1.7rem;
}
.info-story h1{
    margin-top: 2rem;
    font-size: 3rem;
    font-weight: 700;
}
.info-story p{
    line-height: 1.5;
    font-size: 1.5rem;
    margin-top: 2rem;
}
.expert-box h1{
    padding-top: 8rem;
    text-align: center;
}
.expert-box{
    background-color: #f8f7f7;
}
.expert-grid{
    padding: 5rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2,1fr);
}
.ex-box{
    padding-top: 3rem;
    border-radius: 25px;
    width: 100%;
    height: 20rem;
    background-color: #fff;
}
.ex-box a{
    padding: 1.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
}
.ex-box p{
    line-height: 1.5;
    margin-top: 1.5rem;
    padding: 3rem;
}
.ex-info{
    border-radius: 0 10px 10px 0;
    padding-left: 3rem;
    display: flex;
    align-items: center;
    width: 80%;
    height: 3rem;
    background-color: #9d4edd;
}
.partner-box{
    text-align: center;
}
.partner-box h2{
    padding: 1rem;
    font-size: 2rem;
    font-weight: 700;
}
.partners{
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.partners a{
    color: #797979;
    font-size: 2rem;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    margin-right: 5rem;
}
.our-work{
    align-items: center;
    justify-content: center;
    background-color: #eeeeee;
}
.our-work h1{
    padding-top: 8rem;
    text-align: center;
}
.work-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 2rem 12rem;
    gap: 1rem;
}
.work-box{
    margin: 1rem 0;
}
.work-box h2{
    font-size: 1.7rem;
    font-weight: 700;
    margin: 1rem 0px;
}
.work-box p{
    line-height: 1.2;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}
.work-box img{
    align-items: center;
    justify-content: center;
}
.work-box button{
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    color: #9d4edd;
    width: 9rem;
    height: 3rem;
    border: 2px solid #9d4edd;
    border-radius: 10px;
}
.our-team{
    padding: 2rem 10rem;
    display: block;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    height: 100vh;
    justify-content: center;
}
.our-team h1{
    padding: 2rem;
}

.team-grid{
    margin-bottom: 5rem;
    padding-top: 5rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.team-grid h2{
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}
.team-grid h4{
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: #797979;
}
.form{
    justify-content: center;
    display: flex;
    position: relative;
    align-items: center;
}
.icon-chat{
    border: #fff 2px solid;
    border-radius: 15px;
    margin: -10rem -6rem 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    color: #fff;
    background-color: #9d4edd;
    z-index: 2;
}
.icon-chat a{
    color: #fff;
}
.bottom-box{
    font-size: 1.3rem;
    font-weight: 700;
    align-items: center;
    justify-content: space-between;
    display: flex;
    border-radius: 15px;
    position: relative;
    width: 90%;
    padding: 4rem;
    color: #fff;
    background-color: #6e0ac0;
    z-index: 1;
}
.bottom-box button{
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    width: 10rem;
    height: 2.7rem;
}
.footer{
    margin-top: -5rem;
    padding: 0 20rem 0 20rem;
    width: 100%;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2b2a2a;
}
.footer-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 3rem;
}
.foot-info{
    display: block;
    padding: 3rem 0.5rem 0 0.5rem;
    height: 15rem;
    color: #fff;
}.foot-info h4{
    font-size: 1rem;
    font-weight: 700;
}
.foot-info h1{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
}
.foot-info p{
    font-size: 1.2rem;
    line-height: 2.5;
}
.navbar button:hover{
    background-color: #9d4edd;
    transition: 0.2s;
}
.main-info button:hover{
    background-color: #2b2a2a;
    border: #fff 1px solid;
    transition: 0.2s;
}
@media screen and (max-width:375px) {
    .head{
        width: 100%;
        background-color: #1b1b1b;
    }
    .main{
        flex-direction: column;
    }
    .main-info{
        max-width: 100%;
        margin: 0;
        padding: 0;
        display: block;
        text-align: center;
        align-items: center;
    }
    .main-info h1{
        margin: 0 auto;
        font-size: 2rem;
    }
    .main-info p{
        padding: 1rem 3rem 3rem 3rem;
        margin-bottom: 1rem;
    }
    .main img{
        width: 100%;
        height: 100vh;
    }
    .grid-info{
        display: flex;
        flex-direction: column;
        grid-template-columns: repeat(1,1fr);
    }
    .wrapper{
        width: 100%;
        background-color: #2b2a2a;
        position: sticky;
        display: flex;
    }
    .navbar{
        display: none;
    }
    .img-story{
        padding: 2rem;
    }
}
@media  screen and (max-width:735px) {
    .main{
        padding: 0;
        display: block;
    }
    .main img{
        margin: 0;
        padding: 0;
        background-color: #6e0ac0;
    }
    .main-info{
        padding: 0;
        margin: 0;
    }
    .navbar{
        display: none;
    }
    .grid-info{
        padding: 0;
        display: flex;
        row-gap: 0.5rem;
        grid-row-start: 0;
    }
    .info-box{
        padding: 0.5rem 0 0 0;
        width: 20rem;
        height: 12rem;
    }
    .info-box a{
        padding: 0.5rem;
        font-size: 1.3rem;
    }
    .info-box p{
        font-size: 0.8rem;
        margin: 0;
    }
    .our-work{
        align-items: center;
        display: block;
    }
    .work-grid{
        display: block;
    }
    .work-box img{
        width: 20rem;
        height: 20rem;
    }
    .our-team{
        margin: 0;
        padding: 0;
        display: block;
        z-index: 0;
    }
    .team-grid{
        margin: 0;
        padding: 0;
        display: block;
    }
    .team-box img{
        padding: 0;
        width: 5rem;
        height: 5rem;
    }
    .team-box h2{
        padding: 0.5rem;
        font-size: 1rem;
    }
    .team-box h4{
        padding:0 0 0.5rem 0;
        font-size: 0.9rem;
    }
    footer{
        display: block;
    }
    .img{
        padding: 1rem;
        width: 100%;
        height: 18rem;
    }
    .img img{
        width: 100%;
        height: 100%;
    }
    .story-box{
        display: block;
        width: 100%;
        height: auto;
        padding: 0;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .img-story{
        padding: 5rem;
    }
    .info-story{
        padding: 0;
        margin: 0;
    }
    .img-story img{
        width: 20rem;
        height: 20rem;
    }
    .info-story h3{
        font-size: 1.5rem;
    }
    .info-story h1{
        font-size: 2rem;
    }
    .info-story p{
        padding: 3rem;
        margin: 0;
        font-size: 1rem;
    }

}